.navbar{
    background: black;
}

.container .navbar{
    background: black;

}

.container .jumbotron{
    background: aliceblue;
}

.body {
    width:100%;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: orange;
}

.image {
    width: 20px;
    height: 20px;
}

.button{
    width: 20px;
    height: 20px;
}
